{% load static %}

<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

</head>
<body>
    <div class="about1">
        <div class="navbar">
            <img src="static/logo.png" class="logo">
            <ul>
              <li>
                <a href="back_button">Home</a>
              </li>
            </ul>
          </div>
        <div class="about_text">
            <h2>About</h2>
            <br>
            <h5>Hello Everyone ,This is our attempt to make Community of dog owners,</h5>
    
            <h5>Also to help people classify different dog breeds and recommand them best breed for them. </h5>

            <br><h5>Kaushal Patel And Himalay Mavani</h5>
        </div>
    </div>
</body>
</html>