{% load static %}
<html>
<head>
  <title> MyDogBreed </title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="banner">
    <div class="navbar">
      <img src="static/logo.png" class="logo">
      <ul>
        <li>
          <a href="logout">logout</a>
        </li>
        <li>
          <a href="about">about</a>
        </li>
      </ul>
    </div>
    <div class="content">
      {{e}}
      <h1>DOG BREED CLASSIFIER</h1>
      <p>choosing a perfect dog breed now made easy</p>
      <div>
        <button type="button" onclick="location.href='{% url 'classi' %}'"> <span></span> Classification </button>
<!--        <button type="button"> <span></span> Recommandation </button>-->
        <button type="button" onclick="location.href='{% url 'community' %}'"> <span></span> Community </button>
      </div>
    </div>
  </div>
</body>  
</html>