{% load static %}

<html>
<head>
    <title>Community</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="about1">
        <div class="navbar">
            <img src="static/logo.png" class="logo">
            <ul>
              <li>
                <a href="back_button">Home</a>
              </li>
            </ul>
          </div>
        <div class="about_text">
          <form action="dp_submit" method="post">
            {% csrf_token %}
          Upload Photo :
          <input type="file" name="files[]" id="files" >
          <input type="hidden" name="url" id="url">
          <button type="button" onclick="uploadimage()">Upload</button>
          <input type="submit" value = "submit">
        </div>
      </form>
    </div>


    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-storage.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  var config = {
    apiKey: "AIzaSyBOlfMCxj6qUnDrmQ-YivwzNEJoX4cVsWI",
    authDomain: "mydogbreed-6ae22.firebaseapp.com",
    databaseURL: "https://mydogbreed-6ae22-default-rtdb.asia-southeast1.firebasedatabase.app",
    projectId: "mydogbreed-6ae22",
    storageBucket: "mydogbreed-6ae22.appspot.com",
    messagingSenderId: "638367149171",
  };
  firebase.initializeApp(config);

  
function uploadimage(){
  var storage = firebase.storage();
  var file = document.getElementById("files").files[0];
  var storageRef = storage.ref();
  var thisref = storageRef.child(file.name).put(file);
  thisref
  .then(snapshot => snapshot.ref.getDownloadURL())
  .then(url => {
    console.log(url)
    var img_url = url
    console.log(img_url)
    document.getElementById("url").value = img_url;
    alert("Image uploaded successfully")
  })

  thisref.on('state_changed',function(snapshot){
  console.log("file uploaded successfully");
  },
  function(error){
  },
  function(){
    // thisref.snapshot.ref.getDownloadURL().then(function(url){
    //   var downloadURL= url;
    // })
    // var downloadURL = thisref.snapshot.downloadURL;
    // console.log("got url");
    // console.log(downloadURL);
    // document.getElementById("url").value = url;
    // alert("file uploaded successfully ");
  }); 
  }
</script>
</body>

</html>